<h3> 
    <%= link_to "choose file", choosefile_path %>
</h3>    
<ul>
<li><b><%= link_to "choose file", choosefile_path %></b></li>
<li><%= link_to "write code", writecode_path %></li>
<li><%= link_to "run code", runcode_path %></li>
</ul>

<br>
<br>

<div><%= link_to "Next Step", writecode_path %></div>